<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sửa sản phẩm</title>
</head>
<body>
	<h2>Sửa sản phẩm</h2>
	<form th:action="@{/save_edit_product}" th:object="${product}"
		method="post">
		<input type="hidden" th:field="*{id}" /> Tên: <input type="text"
			th:field="*{name}" /><br /> Ảnh: <input type="text"
			th:field="*{image}" /><br /> Mô tả: <input type="text"
			th:field="*{descript}" /><br /> Số lượng: <input type="number"
			th:field="*{quantity}" /><br />
		<button type="submit">Cập nhật</button>
	</form>

	<a th:href="@{/}">Quay lại</a>
</body>
</html>
