# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Gradle (nếu có)
.gradle
build/

# Logs
*.log

# IDEs
*.iml
*.ipr
*.iws
.idea/
*.classpath
*.project
*.settings/

# OS files
.DS_Store
Thumbs.db

# Eclipse
*.swp
.settings/
bin/
tmp/

# VSCode (nếu dùng)
.vscode/

# Environment config
.env
